


/*··········    CSS RESET    ··········*/  


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*··········    GENERAL STYLING    ··········*/  


body{
	background: #EDECE4;
	widht: 100%;
	margin: 0% 15% 0% 15%;/*--- Importante para quitar bordes blancos a ambos lados ---*/
  padding: 0% 5% 0% 5%;
}

header{
	background-image: url("../img/cats.jpg");
	widht: 100%;
}

h1{
	color: #edece4;
  background-color: #2a312aad;
	font-family: Verdana light;
	font-size: 200%;
	font-weight: 100;
	padding: 30px 20px 30px 80px;
}



/*··········    NAV    ··········*/  


nav{
	padding: 20px 20px 20px 60px;
}

nav a{ 
  font-family: Arial light, sans-serif;
  text-decoration: none;
  text-align: center;
  color: #edece4;
  width:20%;
  display:inline-block;
  background:#2a312a;
  background-image: linear-gradient(to bottom right, #849e99, #7e8a7d);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}



/*··········    HOVER    ··········*/  


/*When mouse hovers over link*/
a:hover{  
    background: #edece4;
    color: #2a312a;
    background: -moz-linear-gradient(to bottom right, #edece4, #7e8a7d);
    background: -webkit-linear-gradient(to bottom right, #edece4, #7e8a7d);
    background: -o-linear-gradient(to bottom right, #edece4, #7e8a7d);
    background: linear-gradient(to bottom right, #edece4, #7e8a7d); 
}

/*When user tabs to this link*/
a:focus{ 
    background: #edece4;
    color: #2a312a;
    font-weight: bold;
}

/*When user clicks and holds mouse button on this link*/
a:active{ 
    background: #ffffff;
}



/*··········    ACTIVE PAGE    ··········*/  


.active{ 
    background: #ffffff;
    color: #7B8C56;
}



/*··········    LEFT    ··········*/  


.left{
  width:20%;
  height: 550px;
  margin-right: 2%;
  display:inline-block;
  float:left;
  clear: both;
  background: #7e8a7d;
}

aside img{
  display: block;
  width:150px;
  height: 100px;  
  background: #7e8a7d;
  margin:50px auto;
  border: solid 5px #2a312a;
}



/*··········    RIGHT    ··········*/  


.right{
  width:75%;
  height: 500px;
  margin-right: 2%;
  display:inline-block;
  float:right;
  background: #edece4;
}

h2{
  font-family: Arial light, sans-serif;
  color: #353c09;
  font-size: 30px;
  margin: 30px;
}

p{
  font-family: Arial light, sans-serif;
  color: #353c09;
  font-size: 15px;
  margin: 2% 10% 2% 2%;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  line-height: 25px;
  background: #ffffff;
}


/*··········    TABLE    ··········*/  


table{
  font-family: Arial light, sans-serif;
  color: #353c09;
  font-size: 15px;
  line-height: 15px;
  margin: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

th{
    background: #edece4;
    color: #ffffff;
    font-weight:normal;
    background: -moz-linear-gradient(to top, #edece4, #7e8a7d);
    background: -webkit-linear-gradient(to top, #929681, #7e8a7d);
    background: -o-linear-gradient(to top, #929681, #7e8a7d);
    background: linear-gradient(to top, #929681, #7e8a7d);
    border: 5px solid white;
    border-bottom: 10px solid white;
    border-radius: 15px 15px 15px 0px;
    padding: 10px;
    height: 20px;
}

td{
  width:75px;
  height:20px;
  vertical-align:center;
  padding: 10px;
  text-align: center;
  text-shadow: #C7C5A5 10px 5px 1px;  /* color | offset-x | offset-y | blur-radius */
}



/*··········    ALTERNATE COLORS    ··········*/  


tr:nth-child(odd) {
  background: #ffffff;
  opacity: .8;
}
tr:nth-child(even) {
  background: #edece4;
  opacity: .8;
}



/*··········    TEXT ALIGN    ··········*/  


table td:first-child, table th:first-child {
  text-align: left;
}

thead tr th:first-child{
  text-align:left;
}

tbody tr td:first-child{ 
  text-align: left;
}



/*··········    HOVER    ··········*/  


tr:hover {
opacity: 1;
font-weight: bold;
}

/*··········    ADOPT    ··········*/  


#image{
    line-height:650px;
    width: 575px;
    height: 650px;
    border:5px solid black;
    margin:0 auto;
    background-color: #000000;
    background-image: url('');
    background-repeat: no-repeat;
    font-family: Arial light, sans-serif;
    text-decoration: none;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}
.preview{
    width:10%;
    margin-left:17%;
    border: 10px solid black;
}
img{
    width:95%;
}